<form *ngIf="story">
  <div class="form-group">
    <label for="storyTitle">Title</label>
    <input [(ngModel)]="story.title"
 type="text" class="form-control" id="storyTitle" placeholder="Story title">
  </div>
  <div class="form-group">
    <label for="storyDescription">Description</label>
    <input [(ngModel)]="story.description"
 type="text" class="form-control" id="storyDescription" placeholder="Story description">
  </div>
  <button type="submit" class="btn btn-default" (click)="update()">Save</button>
</form>